<h1 class="fs-3">Pokemon Details: {{ simpsons()?.name | titlecase }}</h1>

<br class="" />

<div class="row row-cols-1 row-cols-sm-2 g-4">
  <div class="col">
    <div href="#" class="card" style="width: 18rem">
      <!-- <img
        [src]="simpsons()?."
        class="card-img-top w-100"
        alt="..."
      /> -->
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title fw-bold">{{ simpsons()?.name | titlecase }}</h5>
        <p class="card-text">
          {{ simpsons()?.description }}
        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Age: <span>{{ simpsons()?.age }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
