<style>
  .card-hover:hover img {
    transform: scale(1.1);
    transition: transform 0.4s ease;
  }
</style>
<div class="container py-4">
  <!-- Título -->
  <h1 class="display-5 fw-bold text-center mb-4">The Simpsons List</h1>

  <!-- Divider -->
  <hr class="mb-5" />

  <!-- Grid -->
  <div class="row g-4">
    @for (item of simpsons(); track item.id) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a [routerLink]="['/simpsons', item.id]" class="text-decoration-none">
          <div
            class="card h-100 border-0 shadow-sm rounded-4 overflow-hidden card-hover"
          >
            <!-- Imagen -->
            <div class="overflow-hidden">
              <img
                [src]="item.image"
                class="w-100"
                alt="simpsons-image"
                style="height: 220px; object-fit: cover"
              />
            </div>

            <!-- Contenido -->
            <div class="card-body text-center">
              <h6 class="fw-bold mb-0">
                {{ item.name | titlecase }}
              </h6>
            </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>
